.toolbar { border-style: outset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.start { font-size: 9pt; color: #000000; cursor: default; border-style: outset; border-top-width: 1px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 1px}
.seperate { border-style: outset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; cursor: e-resize}
.menuhover { width: 19px; border-color: #FFFFFF #808080 #808080 #FFFFFF; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.menuno { width: 19px; border: #D4D0C8; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.startdown { font-size: 9pt; color: #000000; cursor: default; border-style: inset; border-top-width: 2px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 2px}
.systime { font-size: 12px; color: #000000; cursor: default}
.icontext { font-size: 9pt; color: #FFFFFF; cursor: default}
a:link { color: #FFFFFF; text-decoration: none; cursor: default}
a:visited { color: #FFFFFF; text-decoration: none; cursor: default}
a:hover { color: #FFFFFF; text-decoration: none; cursor: default}
.smenu { border-style: outset; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px}
.smenuitem { font-size: 9pt; color: #000000}
.itemhover { background-color: #0A246A; font-size: 9pt; color: #FFFFFF}
.flopa { opacity: 0}
.selecttxt { font-size: 9pt; color: #FFFFFF; background-color: #0A246A}
.iconsel { opacity: 0.3}
.iconmove { opacity: 0.7}
.menuItem {font-size:9pt;padding-left:20; background-Color:#D4D0C8;color:black; width: 110px; padding-top: 2px; padding-bottom: 2px}
.highlightItem {font-size:9pt;padding-left:20; background-Color:highlight;color:white; width: 110px; padding-top: 2px; padding-bottom: 2px}
.contextmenu { border-style: outset; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; padding-top: 2px; padding-bottom: 2px; background-color: #D4D0C8; width: 132px}
.menuseprate { height: 4px; padding-top: 2px; padding-bottom: 2px}
.taskbtn { font-size: 9pt; color: #000000; height: 22px; width: 150px; margin-right: 1px; margin-left: 4px; cursor: default; border-color: #FFFFFF #808080 #808080 #FFFFFF; padding-left: 4px; border-style: solid; border-top-width: 1px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 1px}
.taskbtndown { font-size: 9pt; color: #000000; background-color: #E4E4E4; height: 22px; width: 150px; margin-right: 1px; margin-left: 4px; cursor: default; padding-left: 4px; border-style: inset; border-top-width: 2px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 2px}
.flt { opacity: 0}